#videogames {
	
	padding-bottom: 10px;
}

#reinhardt {
	width: 300px;
	
	/*static: original default position type */
	
	/*relative: follows the default web page flow, but can be 
	adjusted relatively from its position*/
	
	/*absolute: takes the element out of the original page flow
	which you can then manually place wherever you want */
	
	/*fixed: same as absolute but stays in the specified place in the viewport*/
	position: relative;
	
	/*top, left, bottom, right: move the element by a certain amount 
	relative to its original position without distrupting flow */
	
	/*
	left: 30px;
	top: 100px;
	*/
	
	/* specifies whether an element is in front or behind another element */
	/*z-index: 999999;*/
	
	float: left;
	padding-right: 20px;
	
}

#bastion {
	float: right;
	width: 300px;
	padding-left: 20px;
}

#history {
	clear: both;
}

#lists {
	/* use image as background */
	/*background-image: url("../images/arcade.jpg");*/
	position: relative;
	padding: 10px;
	background-color: grey;
	border-radius: 2px;
	margin: auto;
	width: 40%;
	
}

#least-fav {
	position:relative;
	float: left;
	margin-right: 20px;
}

header {
	text-align: center;
	margin: 2em 0 2em 0;
}

header a {
	margin:0 4em 0 4em;
	padding: 1em;
	background-color: rgb(200, 200, 200);
	border-radius: 4px;
	text-decoration: none;
}

header a:hover {
	background-color: white;
	color: orange;
}

a img {
	
	float: right;
	padding: 0px 10px 10px 10px;
	width: 40%;
	
}

#history-section {
	padding: 13px;
	background-color: rgb(80, 80, 80);
	width: 100%;
	
	
	/*shows anything that overflows off the container */
	overflow: visible;
	
	/*hides anything that overflows off the container */
	overflow: hidden;
	
	/* adds a scrollbar on the container */
	overflow: scroll;
	
	/* adds a scrollbar on the container only on sides where it needs it*/
	overflow: auto;
}

@media (max-width: 920px) {
	
	header a{
		margin:0 1em 0 1em;
	
	}
	
}

@media (max-width: 580px) {
	
	header a{
		position: relative;
		display: block;
		border-radius: 0px;
	}
	
}

@media (max-width: 400px) {
	
	#reinhardt, #bastion {
		width: 100%;
	}
	
}


